@font-face {
    font-family: 'zabars';
    src: url('./assets/fonts/zabars.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
}

/* Reusable classes: */
.d-none {
    display: none !important;
}

.df-ai-jc-ctr {
    display: flex;
    align-items: center;
    justify-content: center;
}

.df-ai-ctr {
    display: flex;
    align-items: center;
}

.df-jc-ctr {
    display: flex;
    justify-content: center;
}

.flex1 {
    flex: 1;
}

.width100 {
    width: 100%;
}

.gap8 {
    gap: 8px;
}

.gap16 {
    gap: 16px;
}

/* Design: */
.wrapper {
    overflow: hidden;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('./assets/img/5_background/desert.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 72px;
    font-weight: 400;
    letter-spacing: 4px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 32px;
}

h2 {
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

#fullscreen {
    flex-direction: column;
}

#fullscreen::backdrop {
    background-image: linear-gradient(#029CC7, #994409);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-screen {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.content-screen {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.button {
    cursor: pointer;
    width: 250px;
    height: 60px;
    padding: 4px;
    font-size: 48px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    background-color: rgb(243, 178, 0);
    border-radius: 16px;
    border-color: rgb(139, 84, 0);
    border-width: 4px;
    border-style: outset;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.button:hover {
    background-color: rgb(255, 205, 69);
}

.button:active {
    border-style: inset;
    background-color: rgb(221, 162, 0);
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.link-style {
    color: black;
    text-decoration: none;
}

.link-style:hover {
    cursor: pointer;
    color: rgb(243, 178, 0);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.link-style:active {
    color: rgb(221, 162, 0);
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

/* Start screen: */
#overlay_start_screen {
    background-image: linear-gradient(#029CC7, #994409);
    overflow: hidden;
}

.start-screen {
    background-image: url('./assets/img/9_intro_outro_screens/start/startscreen_1.png');
    background-size: contain;
    align-items: flex-end;
    padding: 2%;
}

.imprint-privacy-policy-container {
    justify-content: flex-end;
    height: 60px;
    gap: 8px;
}

.imprint-privacy-policy-container a {
    font-size: 20px;
    letter-spacing: 0.5px;
}

.mobile-info {
    height: 22px;
    cursor: pointer;
    display: none;
}

.mobile-info:hover {
    filter: drop-shadow(0px 0px 2px #000000);
}

.mobile-info:hover path, .mobile-info:hover circle {
    fill: rgb(243, 178, 0);
}

.mobile-info:active path, .mobile-info:active circle {
    fill: rgb(221, 162, 0);
}

.play-mobile {
    display: none;
    cursor: pointer;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(243, 178, 0);
    border-color: rgb(139, 84, 0);
    border-width: 4px;
    border-style: outset;
    position: absolute;
    top: 50%;
    left: 48%;
    padding-left: 4px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.play-mobile img {
    height: 30px;
}

.play-mobile:hover {
    background-color: rgb(255, 205, 69);
}

.play-mobile:active {
    border-style: inset;
    background-color: rgb(221, 162, 0);
    box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
}

.overlay-info-container-start {
    position: absolute;
    right: 20px;
    bottom: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100vw);
}

.translateX0 {
    transform: translateX(0);
}

.close-overlay-info-container-start {
    display: flex;
    justify-content: flex-end;
}

.close-overlay-info-start {
    font-size: 24px;
    font-weight: 400;
    padding: 4px;
}

.close-overlay-info-start:hover {
    cursor: pointer;
    color: rgb(243, 178, 0);
}

.close-overlay-info-start:active {
    color: rgb(221, 162, 0);
}

.overlay-info-container-start a {
    font-size: 20px;
    font-weight: 400;
}

.overlay-info-container-start a:hover {
    text-shadow: none;
}

.overlay-info-container-start a:active {
    text-shadow: none;
}

/* Instructions screen: */
.overlay-instructions {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.instructions-content {
    background-color: #ffffff;
    width: 1200px;
    border-radius: 32px;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

.close-instructions {
    font-size: 40px;
    padding: 4px;
}

.close-instructions:hover {
    cursor: pointer;
    color: rgb(243, 178, 0);
}

.close-instructions:active {
    color: rgb(221, 162, 0);
}

.instruction-headline {
    margin-bottom: 64px;
}

.columns-container {
    align-items: flex-start;
}

.column {
    flex-direction: column;
}

.img-move {
    height: 300px;
    margin-bottom: 32px;
}

.img-collect {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 82px;
}

.img-fight {
    height: 295px;
    margin-bottom: 37px;
}

.arrow-key-icon {
    height: 48px;
}

.spacebar-icon {
    height: 40px;
}

td {
    text-align: left;
    vertical-align: middle;
    height: 60px;
}

td:nth-child(even) {
    padding-left: 16px;
}

.table-text {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Game screen: */
canvas {
    background-color: black;
    display: block;
}

.canvas-fullscreen {
    width: 100%;
    max-height: calc(100vh - 58px);
}

.game-info-container {
    margin-top: 16px;
    background-color: rgb(255 255 255 / 30%);
    border-right: 4px solid rgb(255 255 255);
    border-left: 4px solid rgb(255 255 255);
    padding: 8px;
}

.game-info-container-fullscreen {
    background-color: unset;
    border: unset;
}

.game-imprint-container {
    gap: 8px;
}

.game-imprint-container a {
    font-size: 20px;
    letter-spacing: 1px;
}

.icon-container {
    justify-content: flex-end;
    gap: 24px
}

.icon-sound {
    height: 26px;
    cursor: pointer;
}

.icon-sound:hover {
    filter: drop-shadow(0px 0px 2px #000000);
}

.icon-sound:hover path {
    fill: rgb(243, 178, 0);
}

.icon-sound:active path {
    fill: rgb(221, 162, 0);
}

.icon-fullscreen {
    height: 24px;
    cursor: pointer;
}

.icon-fullscreen:hover {
    filter: drop-shadow(0px 0px 2px #000000);
}

.icon-fullscreen:hover path {
    fill: rgb(243, 178, 0);
}

.icon-fullscreen:active path {
    fill: rgb(221, 162, 0);
}

.overlay-info-container-game {
    position: absolute;
    right: 280px;
    bottom: 60px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100vh);
}

.translateY0 {
    transform: translateY(0);
}

/* Game Over screen: */
.game-over-screen {
    background-image: url('./assets/img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
    padding-bottom: 2%;
}

/* Win screen: */
.win-screen {
    background-image: url('./assets/img/9_intro_outro_screens/win/win_2.png');
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: flex-end;
    padding-bottom: 2%;
}

/* Orientation screen: */
.orientation-screen {
    flex-direction: column;
    background-color: #ffffff;
    z-index: 5;
    display: none;
}

.orientation-screen img {
    width: 100%;
}

/* Mobile Action Buttons: */
.mobile-buttons-container {
    display: none;
    width: 100%;
    justify-content: space-between;
    padding: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mobile-buttons {
    height: 48px;
}

/* Responsive Design: */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media screen and (orientation: portrait) and (max-width: 720px) {
    .orientation-screen {
        display: flex;
    }
}

@media (max-width: 1150px) {
    .button {
        font-size: 32px;
        width: 160px;
    }
}

/* Start screen: */
@media (max-width: 1000px) or (max-height: 600px) {
    .start-screen {
        gap: 8px;
        padding: 1%;
    }

    .imprint-privacy-policy-container {
        height: 50px;
    }

    .imprint-privacy-policy-container a {
        font-size: 16px;
    }

    .sound-start {
        height: 22px;
    }

    .button {
        font-size: 22px;
        letter-spacing: 1px;
        width: 115px;
        height: 50px;
    }
}

/* Mobile Ansicht: (im Querformat, Landscape mode) */
@media(max-height: 550px) or (max-width: 750px) {
    .start-screen {
        gap: unset;
    }

    .start-button {
        display: none;
    }

    .hide {
        display: none;
    }

    .mobile-info {
        display: block;
    }

    .play-mobile {
        display: flex;
    }

    /* Game screen: */
    #fullscreen {
        position: relative;
    }

    .mobile-buttons-container {
        display: flex;
    }

    .game-info-container {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: unset;
        border: unset;
        justify-content: center;
    }

    .game-imprint-container {
        display: none;
    }

    .icon-container {
        flex: unset;
        justify-content: center;
        z-index: 4;
    }

    .icon-fullscreen {
        display: none;
    }

    .canvas-fullscreen {
        max-height: 100vh;
    }
}

/* Instruction overlay: */
@media (max-width: 1250px) {  
    .instructions-content {
        width: 100%;
        padding: 24px;
    }
}

@media (max-width: 1000px) or (max-height: 800px) {
    .instructions-content {
        padding: 16px;
    }

    h2 {
        font-size: 48px;
    }

    .instruction-headline {
        margin-bottom: 32px;
    }

    h3 {
        font-size: 32px;
    }

    .img-move {
        height: 200px;
    }

    .img-collect {
        height: 100px;
    }

    .img-fight {
        height: 190px;
        margin-bottom: 42px;
    }

    .table-text {
        font-size: 20px;
    }

    .arrow-key-icon {
        height: 40px;
    }

    .spacebar-icon {
        height: 32px;
    }
}

@media(max-height: 600px) {
    .instruction-headline {
        margin-bottom: 8px;
    }

    h2 {
        font-size: 32px;
    }

    .close-instructions {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .img-move {
        height: 150px;
        margin-bottom: 8px;
    }

    .img-collect {
        height: 70px;
        margin-top: 40px;
        margin-bottom: 48px;
    }

    .img-fight {
        height: 150px;
        margin-bottom: 8px;
    }

    td {
        height: 30px;
    }

    .table-text {
        font-size: 18px;
    }

    .arrow-key-icon {
        height: 26px;
    }

    .spacebar-icon {
        height: 26px;
    }
}

/* Game screen: */
@media(max-height: 650px) {
    h1 {
        display: none;
    }

    /* #fullscreen {
        position: relative;
    }

    .game-info-container {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: unset;
        border: unset;
    } */

    
}

/* @media(max-width: 450px) or (max-height: 300px) {
    h1 {
        font-size: 48px;
        margin-bottom: 24px;
    }

    .game-info-container {
        padding: 4px;
    }

    .game-imprint-container {
        gap: 4px;
    }

    .game-imprint-container a {
        font-size: 16px;
    }

    .icon-container {
        gap: 8px;
    }

    .icon-sound {
        height: 20px;
    }

    .icon-fullscreen {
        height: 18px;
    }
} */