/* Responsive Design: */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media screen and (orientation: portrait) and (max-width: 1024px) {
    .orientation-screen {
        display: flex;
    }
}

@media (max-width: 1150px) {
    .button {
        font-size: 32px;
        width: 160px;
    }
}

/* Start screen: */
@media (max-width: 1000px) or (max-height: 600px) {
    .start-screen {
        gap: 8px;
        padding: 1%;
    }

    .imprint-privacy-policy-container {
        height: 50px;
    }

    .imprint-privacy-policy-container a {
        font-size: 16px;
    }

    .button {
        font-size: 22px;
        letter-spacing: 1px;
        width: 115px;
        height: 50px;
    }
}

/* Mobile Ansicht: (im Querformat, Landscape mode) */
@media(max-width: 1366px) {
    .start-screen {
        gap: unset;
    }

    .start-button {
        display: none;
    }

    .hide {
        display: none;
    }

    .mobile-info {
        display: block;
    }

    .play-mobile {
        display: flex;
    }

    /* Game screen: */
    #fullscreen {
        position: relative;
    }

    .mobile-buttons-container {
        display: flex;
    }

    .game-info-container {
        margin-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: unset;
        border: unset;
        justify-content: center;
    }

    .icon-container {
        flex: unset;
        justify-content: center;
        z-index: 4;
    }

    .game-icon-responsive {
        background-color: unset;
        padding: unset;
        border-radius: unset;
        box-shadow: unset;
    }

    .game-icon-responsive:hover {
        filter: drop-shadow(0px 0px 2px #000000);
        background-color: unset;
    }
    
    .game-icon-responsive:hover path {
        fill: rgb(243, 178, 0);
    }

    .game-icon-responsive:active {
        background-color: unset;
        box-shadow: unset;
    }
    
    .game-icon-responsive:active path {
        fill: rgb(221, 162, 0);
    }

    .canvas-fullscreen {
        max-height: 100vh;
    }
}

@media(max-height: 650px) {
    h1 {
        display: none;
    }
}

@media(max-height: 400px) {
    .mobile-buttons {
        height: 38px;
    }
}

/* Instruction overlay: */
@media (max-width: 1250px) {  
    .instructions-content {
        width: 100%;
        padding: 24px;
    }
}

@media (max-width: 1000px) or (max-height: 800px) {
    .instructions-content {
        padding: 16px;
    }

    h2 {
        font-size: 48px;
    }

    .instruction-headline {
        margin-bottom: 32px;
    }

    h3 {
        font-size: 32px;
    }

    .img-move {
        height: 200px;
    }

    .img-collect {
        height: 100px;
    }

    .img-fight {
        height: 190px;
        margin-bottom: 42px;
    }

    .table-text {
        font-size: 20px;
    }

    .arrow-key-icon {
        height: 40px;
    }

    .spacebar-icon {
        height: 32px;
    }
}

@media(max-height: 600px) {
    .instructions-content {
        padding: 8px;
        border-radius: 8px;
    }
    
    .instruction-headline {
        margin-bottom: 8px;
    }

    h2 {
        font-size: 32px;
    }

    .close-instructions {
        font-size: 24px;
    }

    h3 {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .img-move {
        height: 120px;
        margin-bottom: 8px;
    }

    .img-collect {
        height: 70px;
        margin-top: 25px;
        margin-bottom: 33px;
    }

    .img-fight {
        height: 120px;
        margin-bottom: 8px;
    }

    td {
        height: 30px;
    }

    td:nth-child(even) {
        padding-left: 8px;
    }

    .table-text {
        font-size: 18px;
    }

    .arrow-key-icon {
        height: 26px;
    }

    .spacebar-icon {
        height: 26px;
    }
}